
.idea/deployment.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/ML-Notes.iml
.idea/modules.xml
.idea/vcs.xml
Competition/天池-NLP-新闻文本分类/data/NLP_data_list_0715.csv
Competition/天池-NLP-新闻文本分类/data/submit_fasttext.csv
Competition/天池-NLP-新闻文本分类/data/test_a.csv
Competition/天池-NLP-新闻文本分类/data/test_a_sample_submit.csv
Competition/天池-NLP-新闻文本分类/data/train.csv
Competition/天池-NLP-新闻文本分类/data/train_set.csv
Competition/天池-NLP-新闻文本分类/data/zip/test_a.csv.zip
Competition/天池-NLP-新闻文本分类/data/zip/train_set.csv.zip
Competition/天池-NLP-新闻文本分类/model/fasttext_20220521174653.mdl
Competition/天池-NLP-新闻文本分类/model/fasttext_20220521182817.mdl
PracticalProject/__pycache__/__init__.cpython-38.pyc
PracticalProject/CMN_ENG/__pycache__/__init__.cpython-38.pyc
PracticalProject/CMN_ENG/__pycache__/config.cpython-38.pyc
PracticalProject/movie_review_cls/__pycache__/config.cpython-38.pyc
NeuralNetwork/__pycache__/__init__.cpython-38.pyc
NeuralNetwork/__pycache__/Attention.cpython-38.pyc
NeuralNetwork/__pycache__/LeNet.cpython-38.pyc
NeuralNetwork/__pycache__/Loss.cpython-38.pyc
NeuralNetwork/__pycache__/Seq2Seq.cpython-38.pyc
NNUtils/__pycache__/__init__.cpython-38.pyc
NNUtils/nlp/__pycache__/__init__.cpython-38.pyc
NNUtils/nlp/__pycache__/sentences_zh.cpython-38.pyc
NNUtils/torchwu/__pycache__/__init__.cpython-38.pyc
NNUtils/torchwu/__pycache__/cuda.cpython-38.pyc
NNUtils/torchwu/__pycache__/lightkeras.cpython-38.pyc
NNUtils/torchwu/__pycache__/metrics.cpython-38.pyc
NNUtils/torchwu/__pycache__/summary.cpython-38.pyc
NNUtils/torchwu/__pycache__/torchwu.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/__pycache__/dataflow.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/__pycache__/model.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/__pycache__/util.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/__init__.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/alignment.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/connection.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/encoder.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/fusion.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/pooling.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/modules/__pycache__/prediction.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/utils/__pycache__/__init__.cpython-38.pyc
Note_NLP/TextMatch/LCQMC-RE2/utils/__pycache__/registry.cpython-38.pyc
*.xml
